<% include ./partials/header %>

<div class="ui main text container">
    <h1>Welecome <%=user%> to the Test Site</h1>
    <p>look/feel to come!!!</p>
    <div class ="tabs"> tabs1 </div>
</div>

<% include ./partials/footer %>
